body{    
    background-color: black;
}
header{
    box-shadow: 0 2px 10px grey;
}
.topnav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
.instructivo{
    color: white;
    text-decoration: none;
    font-size: large;
}
.logo{
    font-family:fantasy;
    font-size: xx-large;
    color: white;
}
.pts{
    font-size: large;
    justify-content: center;
    color: white;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vp;
    margin: 0;
}
.dispositivo{
    border-radius: 25%;
    border: 7px solid darkslategrey;
    background-color: darkslategrey;
    display: flex;
    flex-direction: column;
    gap:0.25em;
    box-shadow: 0 2px 10px white;
    margin-top: 20px;
}
.superior, .inferior{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.25em
}
.btn{
    border-radius: 90%;
    border: 5px solid white;
    width: 10em;
    height: 10em;
    flex-shrink: 1;
}
#btnRojo{
    background-color: darkred;
}
#btnRojo:hover{
    background-color: red;
}
#btnCeleste{
    background-color: darkcyan;
}
#btnCeleste:hover{
    background-color: cyan;
}
#btnVerde{
    background-color: darkolivegreen;
}
#btnVerde:hover{
    background-color: lightgreen;
}
#btnAmarillo{
    background-color: darkgoldenrod;
}
#btnAmarillo:hover{
    background-color: yellow;
}

@media (min-width: 600px){
    .col1{
        width: 30%;
        margin-right: 45px;
        text-align: justify;
        color: white;
        border: 2px solid white;
    }
    .col2{
        width: auto;
    }
    .col3{
        width: 30%;
        height: 100%;
        margin-left: 45px;
        text-align: center;
        color: white;
        border: 2px solid white;
    }
}
